name: CI-CD-Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: SonarQube Scan
      run: |
        mvn -B verify \
          org.sonarsource.scanner.maven:sonar-maven-plugin:4.0.0.4121:sonar \
          -Dsonar.projectKey=JavaWebApp \
          -Dsonar.host.url=http://3.83.229.38:9000 \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }}

    - name: Build Maven Project
      run: mvn clean package

    - name: Upload Artifact to Nexus
      run: |
        mvn deploy -DskipTests \
          -Dnexus.username=${{ secrets.NEXUS_CRED_USERNAME }} \
          -Dnexus.password=${{ secrets.NEXUS_CRED_PASSWORD }} \
          -Dnexus.repo.url=http://98.84.152.62:8081/repository/JAVA/

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup SSH Key
      run: |
        echo "${{ secrets.PEM_CRED }}" > key.pem
        chmod 600 key.pem

    - name: Copy WAR to Tomcat Server
      run: |
        scp -o StrictHostKeyChecking=no -i key.pem ./target/*.war \
          ${{ secrets.TOMCAT_CRED_USERNAME }}@54.242.176.6:/opt/tomcat/webapps/

    - name: Restart Tomcat Service
      run: |
        ssh -o StrictHostKeyChecking=no -i key.pem \
          ${{ secrets.TOMCAT_CRED_USERNAME }}@54.242.176.6 "sudo systemctl restart tomcat"
